#header{
    text-align: center;
    /* border-style: dashed; */
    border-style:dashed;
    padding-bottom: 0%;
}

#header > *{
    margin: 5px 10px;
}


#education h3{
    margin-bottom: 0%;
}

#education p{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: smaller;
}

#education h5{
    margin-top: 0%;
    margin-bottom: 0%;
    /* font-size: smaller; */
}

#education{
    display: flex;
    justify-content: space-evenly;
    border-style: groove;
}

#eduheader > h2{
    text-align: center;
    margin: 5px auto;
    margin-bottom: 0;
    border-style: groove;
}

#proheader > h2{
    text-align: center;
    margin: 5px auto;
    margin-bottom: 0;
    border-style: groove;
}

#skillheader > h2{
    text-align: center;
    margin: 5px auto;
    margin-bottom: 0;
    border-style: groove;
}

.dates{
    font-family: 'Courier New', Courier, monospace;
}

#professional{
    /* margin: 5 px; */
    /* margin-left: 19 px; */
    padding-left: 20%;
    padding-right: 20%;
    border-style: groove;

}

h2,h3,h4,h5,h6{
    margin:5px;
}

#skills{
    display: flex;
    justify-content: space-evenly;
    border-style: groove;
}